@charset "UTF-8";

h1 {
    font-size: 1.7em;
}
#imagens {
    margin: auto;
}
#imagens ul {
    list-style-type: none;
}
#imagens li {
    position: relative;
    display: block;
    height: 300px;
    width: 300px;
    border: 2px solid #ffffff44;
    margin: 60px auto;
    box-sizing: border-box;
}

span.img {
    position: absolute;
    top: 100%;
    left: 0px;
    background-color: #c5d7d95e;
    color: #026873;
    padding: 5px;
}

#img1 {
    background: #ffffff url('../_imagens/galeria-01.jpg') no-repeat center center;
    background-size: cover;
}

#img2 {
    background: #ffffff url('../_imagens/galeria-02.jpg') no-repeat center center;
    background-size: cover;
}

#img3 {
    background: #ffffff url('../_imagens/galeria-03.jpg') no-repeat center center;
    background-size: cover;
}

#img4 {
    background: #ffffff url('../_imagens/galeria-04.jpg') no-repeat center center;
    background-size: cover;
}
.img4 {
    font-size: .9em;
    position: absolute;
    top: 100%;
    left: 0px;
    background-color: #c5d7d95e;
    color: #026873;
    padding: 5px;
}

#img5 {
    background: #ffffff url('../_imagens/galeria-05.jpg') no-repeat center center;
    background-size: cover;
}

#img6 {
    background: #ffffff url('../_imagens/galeria-06.jpg') no-repeat center center;
    background-size: cover;
}

